{% extends 'base.html' %}

{% block title %}Order List{% endblock %}

{% block content %}
{% if orders %}
<div class="container mt-4">
    <h2>Order List</h2>
    <table class="table table-bordered">
        <thead class="bg-secondary text-white">
            <tr>
                <th>S/No</th>
                <th>Item Name</th>
                <th>Item Type</th>
                <th>Quantity</th>
                <th>Comments</th>
                <th>Created At</th>
                <th>Status</th>
                {% with user.userprofile.role as role %}
                    {% if role.name == 'Admin' %}
                <th>Actions</th>
                    {% endif %}
                {% endwith %}
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.get_item_name }}</td>
                <td>{{ order.get_item_type_display }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.comments }}</td>
                <td>{{ order.created_at }}</td>
                <td>
                    {% if order.status == 'pending' %}
                        <i class="fas fa-hourglass-half text-warning" title="Pending"> pending</i>
                    {% elif order.status == 'received' %}
                        <i class="fas fa-check-circle text-success" title="Received"> received</i>
                    {% elif order.status == 'processed' %}
                        <i class="fas fa-cogs text-info" title="Processed"> on the way</i>
                    {% elif order.status == 'cancelled' %}
                        <i class="fas fa-times-circle text-danger" title="Cancelled"> cancelled</i>
                    {% else %}
                        <i class="fas fa-question-circle text-muted" title="Unknown"></i>
                    {% endif %}
                </td>
                {% with user.userprofile.role as role %}
                    {% if role.name == 'Admin' %}
                    <td>
                        <a href="{% url 'order_update' order.id %}" title="Edit"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'order_delete' order.id %}" title="Delete"><i class="fas fa-trash" style="color: red;"></i></a>
                    </td>
                    
                    {% endif %}
                {% endwith %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">No orders found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <div class="container d-flex justify-content-center align-items-center">
        <p class="alert alert-info col-md-3 text-center text-danger col-md-4">No orders yet</p>
    </div>
    {% endif %}
{% endblock %}
