{% extends 'base.html' %}

{% block title %}Add Booking{% endblock %}

{% block content %}
{% with user.userprofile.role as role %}
{% if role.name == 'Admin' %}
<h2>Delete Booking</h2>
<p>Are you sure you want to delete booking for "{{ booking.customer_name }}" in room "{{ booking.room.room_number }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
    <a href="{% url 'booking_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endif %}
{% endwith %}
{% endblock %}